<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>New Masterpiece</h1>
    <form action="/masterpieces" method="POST">
        Band: <input type="text" name="band" /><br />
        Title: <input type="text" name="title" /><br />
        Year: <input type="text" name="year" /><br />
        Description: <input type="text" name="description" /><br />
        <!-- Binged: <input type="checkbox" name="binged" /><br />  -->
        <input type="submit" name="" value="Add Masterpiece" />
    </form>
</body>
</html>